{% load static%}
<!-- ================================
    Start Footer
    ================================= -->
    <footer>
      <div class="footerCol">
        <div class="container">
          <ul class="socialCol">
             
            <li><a href="https://github.com/stanley643"><img src="{% static 'images/insta.svg' %}" alt="..."></a></li>
            <li><a href="https://twitter.com/stanley643"><img src="{% static 'images/twitter.svg' %}" alt="..."></a></li>
            <li><a href="https://www.linkedin.com/in/stanley-njoroge/"><img src="{% static 'images/linkedin.svg' %}" alt="..."></a></li>
          </ul>
          <div class="copyrightCol">
            <p>Copyright ©{% now 'Y'%}All rights reserved. Designed by <a href="https://github.com/stanley643" target="_blank">Njoroge Stanley Murigi</a></p>
          </div>
        </div>
      </div>
    </footer>
    <!-- ================================
    End Footer
    ================================= -->
